{% extends "petugas/base.html" %}

{% block head %} {% endblock head %}

{% block content %}
<div class="login-box">
  
  <div class="card">
    <div class="card-body login-card-body">
      <h2 class="login-box-msg"></h2>
      <h5 class="login-box-msg">Anda Berhasil Keluar</h5>
      <a href="{% url 'login' %}" class="btn btn-primary btn-block">Masuk Lagi?</a>
      </form>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

{% endblock content %}

{% block script %} {% endblock script %}
